    {{#each system.activatedActions as |action a| }}

        {{!-- Action Name --}}
        <div class="form-group select">
            <label>{{ localize "SKJAALD.ItemActionName" }}</label>
            <div class="form-fields">
                <input type="text" name="system.activatedActions.{{a}}.name" value="{{action.name}}"/>
                <a class="action-control delete-activatedAction {{a}}"><i class="fas fa-minus"></i></a>
            </div>
        </div>

        {{!-- Action Type --}}
        <div class="form-group select">
            <label>{{ localize "SKJAALD.ItemActionType" }}</label>
            <select name="system.activatedActions.{{a}}.actionType">
                {{ selectOptions ../config.itemActionTypes selected=action.actionType blank="" }}
            </select>
        </div>
       
        {{#with (arr "mwak" "rwak" "msak" "rsak" "other") as |arr|}}
        {{#if action.actionType}}

        {{!-- Ability Modifier --}}
        <div class="form-group select">
            <label>{{ localize "SKJAALD.AbilityModifier" }}</label>
            <select name="system.activatedActions.{{a}}.ability">
                {{#select action.ability}}
                <option value="">{{ localize "SKJAALD.Default" }}</option>
                <option value="none">{{ localize "SKJAALD.None" }}</option>
                <optgroup label="{{ localize 'SKJAALD.Ability' }}">
                    {{#each ../config.abilities as |ability a|}}
                    <option value="{{a}}">{{ability.label}}</option>
                    {{/each}}
                </optgroup>
                {{/select}}
            </select>
        </div>       

    {{!-- Damage Type --}}
        {{#if (contains action.actionType arr)}}
        {{!-- Attack Roll Bonus --}}
        <div class="form-group">
            <label>{{ localize "SKJAALD.ItemAttackBonus" }}</label>
            <div class="form-fields">
                <input type="text" name="system.activatedActions.{{a}}.attack.bonus" value="{{action.attack.bonus}}" data-formula-editor>
                <label class="checkbox" data-tooltip="SKJAALD.ItemAttackFlatHint">
                <input type="checkbox" name="system.activatedActions.{{a}}.attack.flat" {{checked action.attack.flat}}>
                {{localize "SKJAALD.ItemAttackFlat"}}
                </label>
            </div>
        </div>

        {{!-- Critical Hit Threshold --}}
        <div class="form-group">
            <label>{{ localize "SKJAALD.ItemCritThreshold" }}</label>
            <div class="form-fields">
                {{numberInput action.critical.threshold name="system.activatedActions.{{a}}.critical.threshold" placeholder="20" max=20 min=1 step=1}}
            </div>
        </div>

        {{!-- Critical Hit Damage --}}
        <div class="form-group">
            <label>{{ localize "SKJAALD.ItemCritExtraDamage" }}</label>
            <div class="form-fields">
                <input type="text" name="system.activatedActions.{{a}}.critical.damage" value="{{action.critical.damage}}">
            </div>
        </div>
        {{/if}}

        {{!-- Damage Formula --}}
        <h4 class="damage-header">
            {{#unless isHealing}}{{ localize "SKJAALD.Damage" }}{{ else }}{{ localize "SKJAALD.Healing" }}{{/unless}}
            {{ localize "SKJAALD.Formula" }}
            <a class="damage-control {{a}} add-damage" data-action-index="{{a}}"><i class="fas fa-plus"></i></a>
        </h4>
        <ol class="damage-parts form-group">
            {{#each action.damage.parts as |part i| }}
            
            <li class="damage-part flexrow" data-damage-part="{{i}}">
                <input type="text" name="system.activatedActions.{{a}}.damage.parts.{{i}}.0" value="{{lookup this "0"}}" data-formula-editor>
                <select name="system.activatedActions.{{a}}.damage.parts.{{i}}.1">
                    {{#select (lookup this "1")}}
                        <option value="">{{ localize "SKJAALD.None" }}</option>
                        <optgroup label="{{localize 'SKJAALD.Damage'}}">
                            {{selectOptions @root.config.damageTypes labelAttr="{{label}}"}}
                        </optgroup>
                        <optgroup label="{{localize 'SKJAALD.Healing'}}">
                            {{selectOptions @root.config.healingTypes labelAttr="label"}}
                        </optgroup>
                    {{/select}}
                </select>
                <a class="damage-control {{a}} delete-damage {{i}}" data-action-index="{{a}}" data-damage-part="{{i}}"><i class="fas fa-minus"></i></a>
            </li>
            {{/each}}
        </ol>

        {{!-- Versatile Damage --}}
        {{#if action.damage.parts.length }}
        <div class="form-group">
            <label>{{ localize "SKJAALD.VersatileDamage" }}</label>
            <div class="form-fields">
                <input type="text" name="system.activatedActions.{{a}}.damage.versatile" value="{{action.damage.versatile}}"
                    placeholder="{{ localize 'SKJAALD.Formula' }}" data-formula-editor>
            </div>
        </div>
        {{/if}}

        {{!-- Other Formula --}}
        <div class="form-group">
            <label>{{ localize "SKJAALD.OtherFormula" }}</label>
            <div class="form-fields">
                <input type="text" name="system.activatedActions.{{a}}.formula" value="{{action.formula}}"
                    placeholder="{{ localize 'SKJAALD.Formula' }}" data-formula-editor>
            </div>
        </div>

        {{!-- Saving Throw --}}
        <div class="form-group input-select">
            <label>{{ localize "SKJAALD.ActionSave" }}</label>
            <div class="form-fields">
                <select name="system.activatedActions.{{a}}.save.ability">
                    {{selectOptions ../../config.abilities selected=action.save.ability labelAttr="label" blank=""}}
                </select>
                <span>{{ localize "SKJAALD.VsDC" }}</span>
                <input type="number" step="any" name="system.activatedActions.{{a}}.save.dc"
                    value="{{#if action.save.dc}}{{action.save.dc}}{{/if}}"
                    placeholder="{{ localize 'SKJAALD.AbbreviationDC' }}" {{#unless isFlatDC}}disabled{{/unless}}>
                <select name="system.activatedActions.{{a}}.save.scaling">
                    {{#select action.save.scaling}}
                        <option value="spell">{{ localize "SKJAALD.Spellcasting" }}</option>
                        {{selectOptions ../../config.abilities labelAttr="label"}}
                        <option value="flat">{{ localize "SKJAALD.Flat" }}</option>
                    {{/select}}
                </select>
            </div>
        </div>

        {{!-- Chat Message Flavor --}}
        <div class="form-group stacked">
            <label>{{ localize "SKJAALD.ChatFlavor" }}</label>
            <input type="text" name="system.activatedActions.{{a}}.chatFlavor" value="{{action.chatFlavor}}"/>
        </div>

        {{/if}}
        {{/with}}
    {{/each}}
