<form>
    {{#each formulas}}
    <div class="form-group">
        <label>{{ localize "SKJAALD.Formula" }} {{#if type}}({{type}}){{/if}}</label>
        <input type="text" name="formula" value="{{formula}}" disabled>
    </div>
    {{/each}}
    {{#if chooseModifier}}
    <div class="form-group">
        <label>{{ localize "SKJAALD.AbilityModifier" }}</label>
        <select name="ability">
            {{selectOptions abilities selected=defaultAbility labelAttr="label"}}
        </select>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "SKJAALD.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'SKJAALD.RollExample' }}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "SKJAALD.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>
