{{!-- Components --}}
{{#*inline "pip"}}
    <button type="button" class="{{ classes }}" data-n="{{ n }}" data-tooltip="{{ tooltip }}" aria-label="{{ label }}"
            aria-pressed="{{ filled }}"></button>

            
{{/inline}}



{{#*inline "ability-score"}}

    <div class="ability-score {{#if flipped}}flipped{{/if}}" data-ability="{{ key }}">
        <a class="label {{ @root.rollableClass }} ability-check">{{ abbr }}</a>
        <div class="mod">
            {{#if @root.editable}}
            <a class="config-button" data-action="ability"
               data-tooltip="{{ localize "SKJAALD.AbilityConfigure" ability=label }}"
               aria-label="{{ localize "SKJAALD.AbilityConfigure" ability=label }}">
                <i class="fas fa-cog"></i>
            </a>
            {{else}}
            <span class="sign">{{ sign }}</span>{{ mod }}
            {{/if}}
        </div>
        <div class="score">
            {{#if @root.editable}}
            <input type="text" name="system.abilities.{{ key }}.value" value="{{ baseValue }}" placeholder="10"
                   data-dtype="Number" class="uninput">
            {{else}}
            {{ value }}
            {{/if}}
        </div>

    </div>

{{/inline}}

<form class="{{ cssClass }} flexcol" autocomplete="off">

    {{!-- Header --}}
    <header class="sheet-header">

        {{!-- Name & Class --}}
        <div class="left optional-ability-{{ abilityRows.optional }}">

            {{!-- Name --}}
            {{#if editable}}
            <input type="text" name="name" class="document-name uninput" value="{{ actor.name }}">
            {{else}}
            <div class="document-name">{{ actor.name }}</div>
            {{/if}}

        </div>

    {{!-- Ability Scores --}}
    <section class="ability-scores optional-ability-{{ abilityRows.optional }}">
        <div class="rows">
            <div class="top">
                {{#each abilityRows.top}}
                    {{> ability-score flipped=true }}
                {{/each}}
            </div>
            <div class="bottom">
                {{#each abilityRows.bottom}}
                    {{> ability-score }}
                {{/each}}
            </div>
        </div>
    </section>

        <div class="section-1x2">
            {{!-- Hit Points --}}
            <div class="meter-group hit-points-section">
                <div class="label roboto-condensed-upper">
                    <span>{{ localize "SKJAALD.HitPoints" }}</span>
                    {{#if editable}}
                    <a class="config-button" data-action="hitPoints" data-tooltip="SKJAALD.HitPointsConfig"
                        aria-label="{{ localize "SKJAALD.HitPointsConfig" }}">
                        <i class="fas fa-cog"></i>
                    </a>
                    {{/if}}
                </div>
                {{#with system.attributes.hp}}
                <div class="meter sectioned hit-points">
                    <div class="progress hit-points
                            {{~#if (gt tempmax 0)}} temp-positive
                            {{~else if (lt tempmax 0)}} temp-negative{{/if}}"
                            role="meter" aria-valuemin="0" aria-valuenow="{{ value }}"
                            aria-valuemax="{{ max }}" style="--bar-percentage: {{ pct }}%">
                        <div class="label">
                            <span class="value">{{ value }}</span>
                            <span class="separator">&sol;</span>
                            <span class="max">{{ effectiveMax }}</span>
                            {{#if tempmax}}
                            <span class="bonus">{{skjaald-numberFormat tempmax signDisplay="always"}}</span>
                            {{/if}}
                        </div>
                        <input type="text" name="system.attributes.hp.value" data-dtype="Number"
                                placeholder="0" value="{{ value }}" hidden>
                    </div>

                </div>
                {{/with}}
            </div>

        </div>

    </div>

    </header>

    {{!-- Body --}}
    <section class="sheet-body">

        {{!-- Main Content --}}
        <div class="main-content">

            {{!-- Sidebar --}}
            <div class="sidebar">

                {{!-- Character Card --}}
                <div class="card">

                    {{!-- Collapser --}}
                    <button type="button" class="collapser card-tab vertical unbutton interface-only"
                        {{#if sidebarCollapsed}}
                            data-tooltip="JOURNAL.ViewExpand" aria-label="{{ localize "JOURNAL.ViewExpand" }}"
                        {{else}}
                            data-tooltip="JOURNAL.ViewCollapse" aria-label="{{ localize "JOURNAL.ViewCollapse" }}"
                        {{/if}}>
                        <i class="fas fa-caret-{{#if sidebarCollapsed}}right{{else}}left{{/if}}"></i>
                    </button>

     

                    {{!-- Stats --}}
                    <div class="stats">


                        {{!-- Initiative, Speed, & Proficiency --}}
                        <div class="lozenges">

                            {{!-- Initiative --}}
                            <div class="lozenge {{#unless editable}}{{ rollableClass }}{{/unless}}"
                                 {{#unless editable}}data-action="rollInitiative"{{/unless}}>
                                <div class="value">
                                    {{#if editable}}
                                    <a class="config-button" data-action="initiative"
                                       data-tooltip="SKJAALD.InitiativeConfig"
                                       aria-label="{{ localize "SKJAALD.InitiativeConfig" }}">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    {{else}}
                                    <span>
                                        {{ skjaald-numberFormat system.attributes.init.total signDisplay="always" }}
                                    </span>
                                    {{/if}}
                                </div>
                                <div class="label roboto-condensed-upper">{{ localize "SKJAALD.Initiative" }}</div>
                            </div>

                            {{!-- Speed --}}
                            <div class="lozenge" data-attribution="attributes.movement">
                                <div class="value">
                                    {{#if editable}}
                                    <a class="config-button" data-action="movement" data-tooltip="SKJAALD.MovementConfig">
                                        <i class="fas fa-cog"></i>
                                    </a>
                                    {{else}}
                                    {{ speed.value }}
                                    {{/if}}
                                </div>
                                <div class="label roboto-condensed-upper">{{ speed.label }}</div>
                            </div>

                            {{!-- Proficiency --}}
                            <div class="lozenge">
                                <div class="value">
                                    {{ skjaald-numberFormat system.attributes.prof signDisplay="always" }}
                                </div>
                                <div class="label roboto-condensed-upper">{{ localize "SKJAALD.Proficiency" }}</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            {{!-- Tabbed Content --}}
            <section class="tab-body page-2">

                {{!-- Character Details --}}
                {{> "skjaald.character-details" }}

                {{!-- Character Notes --}}
                {{> "skjaald.character-notes" }}

                {{!-- Talents --}}
                <div class="tab talents" data-group="primary" data-tab="talents">
                    {{> "skjaald.character-talents" sections=talents}}
                </div>

                {{!-- Character Notes --}}
                
                    {{> "skjaald.character-active"  }}

                {{!-- Inventory --}}
                <div class="tab inventory page-2 col-2" data-group="primary" data-tab="inventory">
                    <div class="left armorDude">
                        {{> "skjaald.armor-dude" }}
                    </div>
                    <div class="right">
                        {{> "skjaald.inventory2" sections=inventory }}
                    </div>
                </div>

                {{!-- Spells --}}
                <div class="tab spells" data-group="primary" data-tab="spells">
                    {{> "skjaald.character-spells" }}
                </div>

                {{!-- Learning --}}
                <div class="tab learning" data-group="primary" data-tab="learning">
                    {{> "skjaald.character-learning" sections=features}}
                </div>

                {{!-- Effects --}}
                <div class="tab effects page-2 col-2" data-group="primary" data-tab="effects">
                    {{> "skjaald.active-effects2" }}
                </div>

                {{!-- Biography --}}
                {{> "skjaald.character-biography" }}

                {{!-- Settings --}}
                {{> "skjaald.character-settings" }}

            </section>

        </div>

    </section>



    {{!-- Child Creation --}}
    <button type="button" class="create-child gold-button"
            aria-label="{{ "SIDEBAR.Create" type=(localize "DOCUMENT.Item") }}">
        <i class="fas fa-plus"></i>
    </button>
</form>
