<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" data-tooltip="{{item.name}}" data-edit="img">

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'SKJAALD.SpellName' }}">
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{itemType}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    {{labels.level}}
                </li>
                <li>
                    {{labels.school}}
                </li>
                <li>
                    {{> "skjaald.item-source"}}
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "SKJAALD.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "SKJAALD.Details" }}</a>
        <a class="item" data-tab="effects">{{ localize "SKJAALD.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "skjaald.item-description"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "SKJAALD.SpellDetails" }}</h3>

            {{!-- Spell Level --}}
            <div class="form-group">
                <label>{{ localize "SKJAALD.SpellLevel" }}</label>
                <select name="system.level" data-dtype="Number">
                    {{#select system.level}}
                    {{#each config.spellLevels as |name lvl|}}
                    <option value="{{lvl}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            {{!-- Spell School --}}
            <div class="form-group">
                <label>{{ localize "SKJAALD.SpellSchool" }}</label>
                <select name="system.school">
                    {{selectOptions config.spellSchools selected=system.school labelAttr="label" blank=""}}
                </select>
            </div>

            {{!-- Spell Components --}}
            <div class="spell-components form-group stacked">
                <label>{{ localize "SKJAALD.SpellComponents" }}</label>
                {{#each properties}}
                <label class="checkbox">
                    <input type="checkbox" name="system.properties.{{@key}}" {{checked selected}}> {{ label }}
                </label>
                {{/each}}
            </div>

            {{!-- Material Components --}}
            <div class="form-group stacked">
                <label>{{ localize "SKJAALD.SpellMaterials" }}</label>
                <input class="materials" type="text" name="system.materials.value" value="{{system.materials.value}}">
                {{#if system.materials.value}}
                <div class="spell-materials flexrow">
                    <label>{{ localize "SKJAALD.Supply" }}</label>
                    {{numberInput system.materials.supply name="system.materials.supply" placeholder="0"}}
                    <label>{{ localize "SKJAALD.CostGP" }}</label>
                    {{numberInput system.materials.cost name="system.materials.cost" placeholder="—"}}
                    <label>{{ localize "SKJAALD.Consumed" }}</label>
                    <input type="checkbox" name="system.materials.consumed" {{checked system.materials.consumed}}>
                </div>
                {{/if}}
            </div>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "SKJAALD.SpellPreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        {{ localize "SKJAALD.SpellPrepared" }}
                        <input type="checkbox" name="system.preparation.prepared" {{checked system.preparation.prepared}}>
                    </label>
                    <select name="system.preparation.mode">
                        {{ selectOptions config.spellPreparationModes selected=system.preparation.mode labelAttr="label" }}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "SKJAALD.SpellCastingHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "skjaald.item-activation"}}

            <h3 class="form-header">{{ localize "SKJAALD.SpellEffects" }} <a class="action-control add-activatedAction"><i class="fas fa-plus"></i></a></h3>


            {{!-- Item Action Template --}}
            {{> "skjaald.item-action"}}

        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "skjaald.active-effects"}}
        </div>
    </section>
</form>
