    <ol class="items-list inventory-list noncombat-list">
    {{#each sections as |section sid|}}
        <li class="items-header flexrow">
            <h3 class="item-name flexrow">{{localize section.label}}</h3>
     
            <div class="item-controls flexrow">
                <a class="item-control history-create" name="{{section.category}}" title="{{localize 'SKJAALD.FeatureAdd'}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                    <i class="fas fa-plus"></i> {{localize "SKJAALD.Add"}}
                </a>
            </div>
        </li>

        <ol class="item-list">
        {{#each section.items as |item iid|}}
            <li class="item flexrow {{#if isDepleted}}depleted{{/if}}" data-item-id="{{item._id}}">
                <div class="item-name flexrow rollable">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4>
                        {{item.name}}
                    </h4>
                </div>
                {{#if section.columns}}
                    {{#each section.columns}}
                        <div class="item-detail {{css}}">
                            {{#with (getProperty item property)}}
                                {{#if ../editable}}
                                    <input type="text" value="{{this}}" placeholder="&mdash;"
                                        data-dtype="{{../editable}}">
                                {{else}}
                                    {{this}}
                                {{/if}}
                            {{/with}}
                        </div>
                    {{/each}}
                {{/if}}

                {{#if ../../owner}}
                <div class="item-controls flexrow">
                    {{#if section.crewable}}
                    <a class="item-control item-toggle {{item.toggleClass}}"
                    title="{{item.toggleTitle}}">
                        <i class="fas fa-sun"></i>
                    </a>
                    {{/if}}
                    <a class="item-control item-edit" title="{{localize 'SKJAALD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize 'SKJAALD.ItemDelete'}}"><i class="fas fa-trash"></i></a>
                </div>
                {{/if}}
            </li>
        {{/each}}
        </ol>
    {{/each}}
    </ol>