<div class="armorDude">

    <label class="head">{{ localize "SKJAALD.Head" }}</label>
    <label class="neck">{{ localize "SKJAALD.Neck" }}</label>
    <label class="shoulders">{{ localize "SKJAALD.Shoulders" }}</label>
    <label class="inner">{{ localize "SKJAALD.Wrists" }}</label>
    <label class="outer">{{ localize "SKJAALD.Back" }}</label>
    <label class="torso">{{ localize "SKJAALD.Chest" }}</label>
    <label class="waist">{{ localize "SKJAALD.Waist" }}</label>
    <label class="arms">{{ localize "SKJAALD.Tail" }}</label>
    <label class="hands">{{ localize "SKJAALD.Hands" }}</label>
    <label class="rings">{{ localize "SKJAALD.Fingers" }}</label>
    <label class="thighs">{{ localize "SKJAALD.Thighs" }}</label>
    <label class="legs">{{ localize "SKJAALD.Feet" }}</label>
    <label class="weapons"> {{ localize "SKJAALD.Weapons"}}</label>
    <label class="ac">{{localize "SKJAALD.ArmorClassMax"}}</label>
    <label class="acvalue">{{data.attributes.ac.acCalc}}</label>
    <label class="dp"> {{localize "SKJAALD.DenialPointsMax"}}</label>
    <label class="dpvalue">{{data.attributes.dp.dpCalc}}</label>
    <label class="pp"> {{localize "SKJAALD.ProtectionPointsMax"}}</label>
    <label class="ppvalue">{{data.attributes.pp.ppCalc}}</label>
    <label class="onhand">{{localize "SKJAALD.OnHand"}}</label>
    <label class="offhand">{{localize "SKJAALD.OffHand"}}</label>

    
    <select class="head-drop change-equip {{data.attributes.wornArmor.head}}" name="data.attributes.wornArmor.head">
        {{#select data.attributes.wornArmor.head }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsHead }}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppHead}}
        <select class="head-supp-drop change-equip {{data.attributes.wornArmor.headSupp}} head-supp" name="data.attributes.wornArmor.headSupp">
            {{#select data.attributes.wornArmor.headSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsHeadSupp }}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="neck-drop change-equip {{data.attributes.wornArmor.neck}}" name="data.attributes.wornArmor.neck">
        {{#select data.attributes.wornArmor.neck }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsNeck as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppNeck}}
        <select class="neck-supp-drop change-equip {{data.attributes.wornArmor.neckSupp}} neck-supp" name="data.attributes.wornArmor.neckSupp">
            {{#select data.attributes.wornArmor.neckSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsNeckSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="shoulders-drop change-equip {{data.attributes.wornArmor.shoulders}}" name="data.attributes.wornArmor.shoulders">
        {{#select data.attributes.wornArmor.shoulders }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsShoulders as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppShoulders}}
        <select class="shoulders-supp-drop change-equip {{data.attributes.wornArmor.shouldersSupp}} shoulders-supp" name="data.attributes.wornArmor.shouldersSupp">
            {{#select data.attributes.wornArmor.shouldersSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsShouldersSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="inner-drop change-equip {{data.attributes.wornArmor.inner}}" name="data.attributes.wornArmor.inner">
        {{#select data.attributes.wornArmor.inner }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsInner as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppInner}}
        <select class="inner-supp-drop change-equip {{data.attributes.wornArmor.innerSupp}} inner-supp" name="data.attributes.wornArmor.innerSupp">
            {{#select data.attributes.wornArmor.innerSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsInnerSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="outer-drop change-equip {{data.attributes.wornArmor.outer}}" name="data.attributes.wornArmor.outer">
        {{#select data.attributes.wornArmor.outer }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsOuter as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppOuter}}
        <select class="outer-supp-drop change-equip {{data.attributes.wornArmor.outerSupp}} outer-supp" name="data.attributes.wornArmor.outerSupp">
            {{#select data.attributes.wornArmor.outerSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsOuterSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="torso-drop change-equip {{data.attributes.wornArmor.torso}}" name="data.attributes.wornArmor.torso">
        {{#select data.attributes.wornArmor.torso }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsTorso as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppTorso}}
        <select class="torso-supp-drop change-equip {{data.attributes.wornArmor.torsoSupp}} torso-supp" name="data.attributes.wornArmor.torsoSupp">
            {{#select data.attributes.wornArmor.torsoSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsTorsoSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="waist-drop change-equip {{data.attributes.wornArmor.waist}}" name="data.attributes.wornArmor.waist">
        {{#select data.attributes.wornArmor.waist }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsWaist as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppWaist}}
        <select class="waist-supp-drop change-equip {{data.attributes.wornArmor.waistSupp}} waist-supp" name="data.attributes.wornArmor.waistSupp">
            {{#select data.attributes.wornArmor.waistSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsWaistSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="arms-drop change-equip {{data.attributes.wornArmor.arms}}" name="data.attributes.wornArmor.arms">
        {{#select data.attributes.wornArmor.arms }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsArm as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppArms}}
        <select class="arms-supp-drop change-equip {{data.attributes.wornArmor.armsSupp}} arms-supp" name="data.attributes.wornArmor.armsSupp">
            {{#select data.attributes.wornArmor.armsSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsArmSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="hands-drop change-equip {{data.attributes.wornArmor.hands}}" name="data.attributes.wornArmor.hands">
        {{#select data.attributes.wornArmor.hands }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsHand as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppHands}}
        <select class="hands-supp-drop change-equip {{data.attributes.wornArmor.handsSupp}} hands-supp" name="data.attributes.wornArmor.handsSupp">
            {{#select data.attributes.wornArmor.handsSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsHandSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="rings-drop change-equip {{data.attributes.wornArmor.rings}}" name="data.attributes.wornArmor.rings">
        {{#select data.attributes.wornArmor.ring1 }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsRing1 as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    <select class="thighs-drop change-equip {{data.attributes.wornArmor.thighs}}" name="data.attributes.wornArmor.thighs">
        {{#select data.attributes.wornArmor.thighs }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsThigh as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppthighs}}
        <select class="thighs-supp-drop change-equip {{data.attributes.wornArmor.thighsSupp}} thighs-supp" name="data.attributes.wornArmor.thighsSupp">
            {{#select data.attributes.wornArmor.thighsSupp }}
            <option value="none">{{ localize "SKJAALD.None" }}</option>
            {{#each armorOptionsThighSupp as |name type|}}
            <option value="{{@key}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    {{/if}}
    <select class="legs-drop change-equip {{data.attributes.wornArmor.legs}}" name="data.attributes.wornArmor.legs">
        {{#select data.attributes.wornArmor.legs }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsLeg as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{#if suppLegs}}
    <select class="legs-supp-drop change-equip {{data.attributes.wornArmor.legsSupp}} legs-supp" name="data.attributes.wornArmor.legsSupp">
        {{#select data.attributes.wornArmor.legsSupp }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsLegSupp as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    {{/if}}
    <select class="weapon1-drop change-equip {{data.attributes.wornArmor.weapon1}}" name="data.attributes.wornArmor.weapon1">
        {{#select data.attributes.wornArmor.weapon1 }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsWeapon1 as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
    <select class="weapon2-drop change-equip {{data.attributes.wornArmor.weapon2}}" name="data.attributes.wornArmor.weapon2">
        {{#select data.attributes.wornArmor.weapon2 }}
        <option value="none">{{ localize "SKJAALD.None" }}</option>
        {{#each armorOptionsWeapon2 as |name type|}}
        <option value="{{@key}}">{{this}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>