{{!-- Spellcasting --}}
<section class="top">
    {{#each spellcasting}}
    <div class="spellcasting card {{#if primary}}primary{{/if}}" data-ability="{{ ability.ability }}">
        <div class="header">
            <h3>{{ label }}</h3>
            <button type="button" class="radio-button" data-action="spellcasting"
                    data-tooltip="SKJAALD.SpellAbilitySet" aria-pressed="{{#if primary}}true{{else}}false{{/if}}"
                    aria-label="{{ localize "SKJAALD.SpellAbilitySet" }}"></button>
        </div>
        <div class="info">
            <div class="ability">
                <span class="label">{{ localize "SKJAALD.Ability" }}</span>
                <span class="value">
                    <span class="sign">{{ ability.sign }}</span>
                    {{ ability.value }}
                </span>
            </div>
            <div class="attack">
                <span class="label">{{ localize "SKJAALD.Attack" }}</span>
                <span class="value">
                    <span class="sign">{{ attack.sign }}</span>
                    {{ attack.value }}
                </span>
            </div>
            <div class="save">
                <span class="label">{{ localize "SKJAALD.SpellDC" }}</span>
                <span class="value">{{ save }}</span>
            </div>
        </div>
    </div>
    {{/each}}
</section>

{{!-- Spells --}}
<{{ elements.inventory }} class="inventory-element" v2>

    {{!-- Searching & Filtering --}}
    <item-list-controls for="spellbook" label="{{ localize "SKJAALD.SpellsSearch" }}" sort="multi" sort-modes="apm"
                        collection="items" keep-empty>
        <datalist>
            <option value="action">{{ localize "SKJAALD.Action" }}</option>
            <option value="bonus">{{ localize "SKJAALD.BonusAction" }}</option>
            <option value="reaction">{{ localize "SKJAALD.Reaction" }}</option>
            <option value="concentration">{{ localize "SKJAALD.Concentration" }}</option>
            <option value="ritual">{{ localize "SKJAALD.Ritual" }}</option>
            <option value="prepared">{{ localize "SKJAALD.Prepared" }}</option>
            {{#each config.spellSchools}}
            <option value="{{ @key }}">{{ label }}</option>
            {{/each}}
        </datalist>
    </item-list-controls>

    {{!-- Spells List --}}
    <section class="items-list spells-list" data-item-list="spellbook">

        {{!-- Sections --}}
        {{#each spellbook}}
        <div class="items-section card" {{ skjaald-dataset dataset }}>

            {{!-- Section Header --}}
            <div class="items-header header">
                <h3 class="item-name spell-header">{{ localize label }}</h3>
                <div class="item-header item-school">{{ localize "SKJAALD.SpellHeader.School" }}</div>
                <div class="item-header item-usage">{{ localize "SKJAALD.SpellHeader.Time" }}</div>
                <div class="item-header item-range">{{ localize "SKJAALD.SpellHeader.Range" }}</div>
                <div class="item-header item-target">{{ localize "SKJAALD.SpellHeader.Target" }}</div>
                <div class="item-header item-roll">{{ localize "SKJAALD.SpellHeader.Roll" }}</div>
                <div class="item-header item-uses spell-uses">{{ localize "SKJAALD.Uses" }}</div>
                <div class="item-header item-formula">{{ localize "SKJAALD.SpellHeader.Formula" }}</div>
                <div class="item-header item-controls"></div>
                {{#if (and usesSlots @root.editable)}}
                <a class="config-button" data-action="spellSlots" data-tooltip="SKJAALD.SpellSlotsConfig"
                   aria-label="{{ localize "SKJAALD.SpellSlotsConfig" }}">
                    <i class="fas fa-cog"></i>
                </a>
                {{/if}}
            </div>

            {{!-- Spell Slots --}}
            {{#if usesSlots}}
            <div class="pips" data-prop="system.spells.{{ prop }}.value">
                {{#each pips}}
                <button type="button" class="{{ classes }}" data-n="{{ n }}" data-tooltip="{{ tooltip }}"
                        aria-label="{{ label }}" aria-pressed="{{ filled }}">
                    <skjaald-icon src="systems/skjaald/icons/svg/spell-slot.svg"></skjaald-icon>
                </button>
                {{/each}}
            </div>
            {{/if}}

            {{!-- Section Contents --}}
            <ol class="item-list unlist">
                {{#each spells as |item|}}
                {{#skjaald-itemContext item as |ctx|}}

                {{!-- Spells --}}
                <li class="item" data-item-id="{{ item.id }}" data-entry-id="{{ item.id }}"
                    data-item-level="{{ item.system.level }}"
                    data-item-name="{{ item.name }}" data-item-sort="{{ item.sort }}"
                    data-item-preparation-mode="{{ item.system.preparation.mode }}"
                    data-item-preparation-prepared="{{ item.system.preparation.prepared }}">

                    {{!-- Spell Name --}}
                    <div class="item-name item-action item-tooltip {{ @root.rollableClass }}" role="button"
                         data-action="use" aria-label="{{ item.name }}">
                        {{#if ctx.concentration}}
                        <i class="concentration fas fa-arrow-rotate-left fa-spin fa-spin-reverse"
                           aria-label="{{ localize "SKJAALD.Concentration" }}"></i>
                        {{/if}}
                        <img class="item-image gold-icon" src="{{ item.img }}" alt="{{ item.name }}">
                        <div class="name name-stacked">
                            <span class="title">{{ item.name }}</span>
                            <span class="subtitle">
                                {{ item.labels.components.vsm }}
                                {{#if ctx.hasUses}}
                                <span class="subtitle-uses">
                                    — {{ item.system.uses.value }} &sol; {{ item.system.uses.max }}
                                </span>
                                {{/if}}
                            </span>
                        </div>
                        <div class="tags">
                            {{#each item.labels.components.all}}
                            {{#if tag}}
                            <span aria-label="{{ label }}">
                                <skjaald-icon src="{{ icon }}"></skjaald-icon>
                            </span>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>

                    {{!-- Spell School --}}
                    <div class="item-detail item-school" data-tooltip="{{ item.labels.school }}"
                         aria-label="{{ item.labels.school }}">
                        {{#with (lookup @root.config.spellSchools item.system.school) as |schoolConfig|}}
                        <skjaald-icon src="{{ schoolConfig.icon }}"></skjaald-icon>
                        {{/with}}
                    </div>

                    {{!-- Cast Time --}}
                    <div class="item-detail item-usage">
                        <span class="condensed">{{ ctx.activation }}</span>
                    </div>

                    {{!-- Spell Range --}}
                    <div class="item-detail item-range {{#unless ctx.range}}empty{{/unless}}">
                        {{#if ctx.range}}
                        {{#if ctx.range.distance}}
                        <span class="value">{{ ctx.range.value }}</span>
                        <span class="unit">{{ ctx.range.unit }}</span>
                        {{else}}
                        <span class="condensed">{{ item.labels.range }}</span>
                        {{/if}}
                        {{/if}}
                    </div>

                    {{!-- Spell Target --}}
                    <div class="item-detail item-target {{#unless item.system.target.type}}empty{{/unless}}">
                        {{#if item.system.target.type}}
                        <span class="condensed">{{ item.labels.target }}</span>
                        {{/if}}
                    </div>

                    {{!-- Spell Attack / DC --}}
                    <div class="item-detail item-roll {{#if (and (not item.system.save.ability) (not ctx.toHit))}}empty{{/if}}">
                        {{#if ctx.toHit}}
                        <span class="sign">{{ ctx.toHit.sign }}</span>
                        <span class="value">{{ ctx.toHit.abs }}</span>
                        {{else if item.system.save.ability}}
                        <div class="stacked">
                            <span class="ability">
                                {{ lookup (lookup @root.config.abilities item.system.save.ability) "abbreviation" }}
                            </span>
                            <span class="value">{{ item.system.save.dc }}</span>
                        </div>
                        {{/if}}
                    </div>

                    {{!-- Spell Uses --}}
                    <div class="item-detail item-uses spell-uses {{#unless ctx.hasUses}}empty{{/unless}}">
                        {{#if ctx.hasUses}}
                        <input type="text" value="{{ item.system.uses.value }}" placeholder="0" data-dtype="Number"
                               data-name="system.uses.value" inputmode="numeric" pattern="[+=\-]?\d*">
                        <span class="separator">&sol;</span>
                        <span class="max">{{ item.system.uses.max }}</span>
                        {{/if}}
                    </div>

                    {{!-- Spell Formula --}}
                    <div class="item-detail item-formula {{#unless item.labels.derivedDamage}}empty{{/unless}}">
                        {{#each item.labels.derivedDamage}}
                        <div class="row">
                            <span class="formula">{{ formula }}</span>
                            {{#with (lookup @root.labels.damageAndHealing damageType)}}
                            <span data-tooltip="{{ label }}" aria-label="{{ label }}">
                                <skjaald-icon src="{{ icon }}"></skjaald-icon>
                            </span>
                            {{/with}}
                        </div>
                        {{/each}}
                    </div>

                    {{!-- Spell Status --}}
                    <div class="item-detail item-controls">

                        {{#if @root.editable}}
                        {{!-- Editing --}}
                        <a class="item-control item-action" data-action="edit" data-tooltip="SKJAALD.ItemEdit"
                           aria-label="{{ localize "SKJAALD.ItemEdit" }}">
                            <i class="fas fa-pen-to-square"></i>
                        </a>

                        {{!-- Deleting --}}
                        <a class="item-control item-action" data-action="delete" data-tooltip="SKJAALD.ItemDelete"
                           aria-label="{{ localize "SKJAALD.ItemDelete" }}">
                            <i class="fas fa-trash"></i>
                        </a>
                        {{else if @root.owner}}
                        {{!-- Preparing --}}
                        {{#with ctx.preparation}}
                        {{#if applicable}}
                        <a class="item-control item-action {{ cls }}" data-action="prepare" data-tooltip="{{ title }}"
                           aria-label="{{ title }}" aria-disabled="{{ this.disabled }}">
                            {{{ icon }}}
                        </a>
                        {{/if}}
                        {{/with}}
                        {{/if}}

                        {{!-- Context Menu --}}
                        <a class="item-control interface-only" data-context-menu
                           aria-label="{{ localize "SKJAALD.AdditionalControls" }}">
                            <i class="fas fa-ellipsis-vertical"></i>
                        </a>

                    </div>

                </li>

                {{/skjaald-itemContext}}
                {{/each}}
            </ol>

        </div>
        {{/each}}

    </section>

</{{ elements.inventory }}>

                {{!-- Favorites --}}
                <div class="favorites">
                    <h3 class="icon">
                        <i class="fas fa-star"></i>
                        <span class="roboto-upper">{{ localize "SKJAALD.Favorites" }}</span>
                    </h3>
                    <ul class="unlist">
                        {{#each favorites}}

                        {{!-- Favorite --}}
                        <li class="{{#if itemId}}item-tooltip{{/if}} {{ type }} {{#if suppressed}}suppressed{{/if}}"
                            data-favorite-id="{{ id }}" {{#if key}}data-key="{{ key }}"{{/if}}
                            {{#if itemId}}data-item-id="{{ itemId }}"{{/if}}
                            {{#if effectId}}data-effect-id="{{ effectId }}"{{/if}}
                            {{#if parentId}}data-parent-id="{{ parentId }}"{{/if}}
                            {{#if reference}}data-reference-tooltip="{{ reference }}"{{/if}}
                            {{#if preparationMode}}data-preparation-mode="{{ preparationMode }}"{{/if}}
                            {{#if level}}data-level="{{ level }}"{{/if}}
                            {{#if toggle.applicable}}data-action="useFavorite"{{/if}}>

                            {{!-- Icon --}}
                            <figure>
                                <img class="gold-icon" alt="{{ title }}" src="{{ img }}">

                                {{!-- Favorite Deletion --}}
                                {{#if @root.editable}}
                                <a class="deletion-control" data-action="removeFavorite" data-tooltip-class
                                   data-tooltip-direction data-tooltip="SKJAALD.FavoriteRemove"
                                   aria-label="{{ localize "SKJAALD.FavoriteRemove" }}">
                                    <i class="fas fa-circle-xmark"></i>
                                </a>
                                {{/if}}
                            </figure>

                            {{!-- Name --}}
                            <div class="name-stacked {{ rollableClass }}"
                                 role="button" data-action="useFavorite">
                                <span class="title">{{ title }}</span>
                                {{#if subtitle}}
                                <span class="subtitle">{{{ subtitle }}}</span>
                                {{/if}}
                            </div>

                            {{!-- Info --}}
                            <div class="info">
                                <div class="primary {{ css }}">
                                    {{!-- Item Uses & Capacity --}}
                                    {{#if uses}}
                                    {{#with uses}}
                                    {{#if (and name @root.actor.isOwner)}}
                                    <input type="text" class="uninput value" value="{{ value }}"
                                           {{#unless ../bareName}}data-{{/unless}}name="{{ name }}"
                                           data-dtype="Number" inputmode="numeric" pattern="[0-9+=\-]*">
                                    {{else}}
                                    <span class="value">{{ value }}</span>
                                    {{/if}}
                                    <span class="separator">&sol;</span>
                                    <span class="max">{{ max }}</span>
                                    {{/with}}

                                    {{!-- Modifiers --}}
                                    {{else if modifier}}
                                    {{#with modifier}}
                                    <span class="sign">{{ sign }}</span>
                                    <span class="value">{{ abs }}</span>
                                    {{/with}}

                                    {{!-- Passive Score --}}
                                    {{#if passive}}
                                    <span class="passive">({{ passive }})</span>
                                    {{/if}}

                                    {{!-- Saves --}}
                                    {{else if save.dc}}
                                    {{#with save}}
                                    <span class="ability">
                                        {{ lookup (lookup @root.config.abilities ability) "abbreviation" }}
                                    </span>
                                    <span class="value">{{ dc }}</span>
                                    {{/with}}

                                    {{!-- Other Value --}}
                                    {{else if value includeZero=true}}
                                    <span class="value">{{ value }}</span>

                                    {{!-- Quantity --}}
                                    {{else if quantity}}
                                    <span class="sign">&times;</span>
                                    <span class="value">{{ quantity }}</span>

                                    {{!-- Toggleable --}}
                                    {{else if toggle.applicable}}
                                    <i class="fas fa-toggle-{{#if toggle.value}}on{{else}}off{{/if}}"></i>

                                    {{!-- Legacy Resources --}}
                                    {{else if resource}}
                                    {{#if @root.actor.isOwner}}
                                    <input type="text" class="uninput value" value="{{ resource.value }}"
                                           data-dtype="Number" name="system.{{ id }}.value" inputmode="numeric"
                                           pattern="[0-9+=\-]*">
                                    {{else}}
                                    <span class="value">{{ resource.value }}</span>
                                    {{/if}}
                                    <span class="separator">&sol;</span>
                                    {{#if @root.editable}}
                                    <input type="text" class="uninput max" value="{{ resource.source.max }}"
                                           data-dtype="Number" name="system.{{ id }}.max" inputmode="numeric"
                                           pattern="[0-9+=\-]*">
                                    {{else}}
                                    <span class="max">{{ resource.max }}</span>
                                    {{/if}}
                                    {{/if}}
                                </div>
                                <div class="secondary">
                                    {{!-- Quantity --}}
                                    {{#if (and uses quantity)}}
                                    <span class="quantity">&times; {{ quantity }}</span>

                                    {{!-- Range --}}
                                    {{else if range.value}}
                                    {{#with range}}
                                    <span class="range">
                                        {{ value }}
                                        {{#if long}}&sol; {{ long }}{{/if}}
                                        {{ units }}
                                    </span>
                                    {{/with}}
                                    {{/if}}
                                </div>
                            </div>

                        </li>

                        {{/each}}

                        {{!-- Drop Indicator --}}
                        <li class="drop roboto-upper">{{ localize "SKJAALD.FavoriteDrop" }}</li>
                    </ul>
                </div>
