<div class="tab flexrow" data-group="primary" >
    <div class="left">
        <h3 style="padding-left: 44px;">Notes</h3>
            <i class="accordion-indicator fa-solid fa-chevron-down"></i>
            {{localize "SKJAALD.Notes"}}
            <a class="description-character-edit" data-target="system.details.background">
                <i class="fa-solid fa-edit"></i>
            </a>
        {{#if editingDescriptionTarget}}
            {{editor enriched.editing target="system.details.background" button=false
             engine="prosemirror" collaborate=true}}
        {{else}}
        <form class="notes-playtest">
            {{!-- <prose-mirror style="height: 550px; width: 99%; padding-left: 42px;" name="system.details.background" value="{{ system.details.background }}"></prose-mirror> --}}
            {{editor biographyHTML target="system.details.background" button=true editable=editable engine="prosemirror" collaborate=false}}
        </form>
        {{/if}}
    </div>
    <div class="right ">
        {{localize "SKJAALD.Talents"}}
        <a class="description-character-edit" data-target="system.details.talents">
            <i class="fa-solid fa-edit"></i>
        </a>
        {{log 'editingDescriptionTarget: ' editingDescriptionTarget}}
        {{log editable}}
        {{#if editingDescriptionTarget}}
            {{editor enriched.editing target="system.details.talents" button=false
             engine="prosemirror" collaborate=true}}
        {{else}}

        <div class="talents-playtest">

            {{ editor enriched.editing target="system.details.talents" button=false editable=false
                    engine="prosemirror" collaborate=false }}
        </div>
        {{/if}}
    </div>
</div>
