{{#*inline "textbox"}}
    <div class="textbox-half">
        <h3 class="icon">
            {{#if icon}}<i class="{{ icon }}"></i>
            {{~else if svg}}<skjaald-icon src="systems/skjaald/icons/svg/{{svg}}.svg"></skjaald-icon>{{/if}}
            <span class="roboto-upper">{{ localize label }}</span>
        </h3>
        <textarea class="untext" name="{{ name }}" style="height: 450px" >{{ value }}</textarea>

    </div>
{{/inline}}

<div class="tab notes col-2" data-group="primary" data-tab="notes">
    <div class="left"></div>
    <div class="right">

    </div>
</div>